﻿@{
    ViewBag.Title = "Ferreyros";

}

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Nombre de aplicación", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        

            <div class="navbar-collapse collapse">

                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                    @if (ViewBag.IdPerfil.ToString().Equals("admin"))
                    {
                    <li>@Html.ActionLink("Gestionar Usuarios", "About", "Home")</li>
                    <li>@Html.ActionLink("Gestionar Links", "Contact", "Home")</li>
                    }
                </ul>
            </div>
      
    </div>
</div>

<!--
<div style="background:#ffcc01 !important"  class="jumbotron jumbotron-fluid">
    <center><h2>INDICADORES DE GRAN MINERÍA</h2></center>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    
        
</div>
    -->

<div class="container body-content">
    <div class="jumbotron jumbotron-fluid" style="background:#ffcc01 !important;">
        <div class="main-heading ">
            <h1 class="editContent">INDICADORES DE GRAN MINERÍA</h1>
        </div>
    </div>
    <div id="page" class="page">
        <div class="main bg bg1">


            <div class="pricing-table">
                <div class="pricing editContent">
                    <div class="price-top clr1 editContent ">
                        <h2>Costo de Maquinaria</h2>
                    </div>
                    <div class="url-content editContent" style="outline: none; cursor: inherit;">

                        <div class="price2 ">
                            <ul>
                                <li class="editContent" style="outline: none; cursor: inherit;"><span class="fa fa-file" style="color:rgba(19, 212, 2, 0.897);outline: none; cursor: inherit;"></span><a href="https://www.gestion.pe">Costo de insumos</a></li>
                                <li class="editContent" style="outline: none; cursor: inherit;"><span class="fa fa-file" style="color:rgba(205, 228, 1, 0.938);outline: none; cursor: inherit;"></span>Costo de maquinaria</li>
                                <li class="editContent" style="outline: none; cursor: inherit;"><span class="fa fa-file" style="color:rgba(19, 212, 2, 0.897);outline: none; cursor: inherit;"></span>Costo de mantenimiento</li>

                            </ul>
                        </div>
                    </div>
                </div>

                <div class="pricing pri2 editContent">
                    <div class="price-top clr2 editContent">
                        <h2 class="editContent">Indicadores de Venta</h2>
                    </div>
                    <div class="url-content editContent " style="outline: none; cursor: inherit;">

                        <div class="price2 ">
                            <ul>
                                <li class="editContent" style="outline: none; cursor: inherit;"><span class="fa fa-download" style="outline: none; cursor: inherit;"></span>Venta por material</li>
                                <li class="editContent" style="outline: none; cursor: inherit;"><span class="fa fa-calendar" style="outline: none; cursor: inherit;"></span>Estimaciones de venta</li>
                                <li class="editContent" style="outline: none; cursor: inherit;"><span class="fa fa-tachometer" style="outline: none; cursor: inherit;"></span>Venta total mensual</li>
                                <li class="editContent" style="outline: none; cursor: inherit;"><span class="fa fa-server" style="outline: none; cursor: inherit;"></span>Venta por sede</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="pricing pri3  editContent">
                    <div class="price-top clr3 editContent">
                        <h2 class="editContent">Reporte de Mantenimiento</h2>
                    </div>
                    <div class="url-content editContent" style="outline: none; cursor: inherit;">

                        <div class="price2">
                            <ul>
                                <li class="editContent" style="outline: none; cursor: inherit;"><span class="fa fa-download" style="outline: none; cursor: inherit;"></span>Mantenimiento de planta</li>
                                <li class="editContent" style="outline: none; cursor: inherit;"><span class="fa fa-calendar" style="outline: none; cursor: inherit;"></span>Mantenimiento de equipos</li>
                                <li class="editContent" style="outline: none; cursor: inherit;"><span class="fa fa-tachometer" style="outline: none; cursor: inherit;"></span>Mantenimiento de área</li>
                                <li class="editContent" style="outline: none; cursor: inherit;"><span class="fa fa-server" style="outline: none; cursor: inherit;"></span>Mantenimiento de vehiculos</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>


            </div>
            <div class="clear"></div>

            <div class="copyright">
                <p>© 2018 Broad Band Price Table. All rights reserved | Design by <a href="http://w3layouts.com">W3layouts.</a></p>
            </div>
        </div>
    </div>
</div>