﻿@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<h2>Login</h2>
<div class="row">
    <div class="danger">
        @ViewBag.Error
    </div>
    <form action="@Url.Content("~/Acceso/Login")" method="post">
        <div class="form-group">
            <label>Usuario</label>
            <input type="text" name="User" />
        </div>
        <div class="form-group">
            <label>Contraseña</label>
            <input type="password" name="Pass" />
        </div>
        <div class="form-group">
            <input type="submit" value="Entrar" class="btn btn-success" />
        </div>
    </form>
</div>
