﻿
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<div class="danger">
    @ViewBag.Error
</div>

<h1>Basic Login Form</h1>
    
    <div class="main-agile">
        <div class="alert-close"> </div>
        <div class="content-wthree">
            <div class="circle-w3layouts"></div>
            <h2>Login</h2>
            <form action="@Url.Content("~/Acceso/Login")" method="post">
                <div class="inputs-w3ls">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <input type="text" name="User" placeholder="Usuario" required="" />
                </div>
                <div class="inputs-w3ls">
                    <i class="fa fa-key" aria-hidden="true"></i>
                    <input type="password" name="Pass" placeholder="Contraseña" required="" />
                </div>
                <input type="submit" value="LOGIN">
                <div class="wthree-text">
                    <ul>
                        <li> <a href="#">Forgot password?</a> </li>
                    </ul>
                </div>
            </form>
        </div>
    </div>
    <div class="footer-w3l">
        <p class="agileinfo"> &copy; 2019 Webm@aster. All Rights Reserved </a></p>
    </div>

@*<h2>Login</h2>
<div class="row">
    <div class="danger">
        @ViewBag.Error
    </div>
    <form action="@Url.Content("~/Acceso/Login")" method="post">
        <div class="form-group">
            <label>Usuario</label>
            <input type="text" name="User" />
        </div>
        <div class="form-group">
            <label>Contraseña</label>
            <input type="password" name="Pass" />
        </div>
        <div class="form-group">
            <input type="submit" value="Entrar" class="btn btn-success" />
        </div>
    </form>
</div>*@